{% extends "base.html" %}

{% block content %}
<div class="container">
    {% include "elements/flash.html" %}
    {% include "elements/error_message.html" %}
    <div id="logreg-forms">
        <form action="{% url 'chapter07:register' %}" method="post" class="form-signin" novalidate>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ユーザ作成</h1>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>&nbsp;登録</button>
            <hr>
            <a href="{% url 'chapter07:login'%}" id="forgot_pswd">ログイン</a>
        </form>
    </div>

</div>
{% endblock %}
