{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-3">{{title}}</h1>
    {% include "elements/flash.html" %}
    <div class="mb-3">
        <a href="{% url "chapter06:books_create" %}" class="btn btn-primary">新規作成</a>
    </div>
    <div class="container border border-bottom-0">
        <div class="row border-bottom">
            <div class="col-1 bg-secondary text-white p-2 border-right">id</div>
            <div class="col-3 bg-secondary text-white p-2 border-right">title</div>
            <div class="col-3 bg-secondary text-white p-2 border-right">price</div>
            <div class="col-2 bg-secondary text-white p-2 border-right">author</div>
            <div class="col-2 bg-secondary text-white p-2 border-right">category</div>
            <div class="col-1 bg-secondary text-white p-2">edit</div>
        </div>
    
        {% for c in books %}
        <div class="row border-bottom">
            <div class="col-1 bg-light p-2 border-right">{{c.id}}</div>
            <div class="col-3 p-2 border-right">{{c.title}}</div>
            <div class="col-3 p-2 border-right">{{c.price}}</div>
            <div class="col-2 p-2 border-right">{{c.author.name}}</div>
            <div class="col-2 p-2 border-right">{{c.category.name}}</div>
            <div class="col-1 p-2">
                <a href="{% url 'chapter06:books_edit' c.id %}">編集</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
