{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <h2>{{message}}</h2>
    <form action="{% url 'chapter04:work04' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}            
        </div>
        <div class="form-group">
            {{ form.mail.errors }}
            {{ form.mail.label_tag }}
            {{ form.mail }}            
        </div>
        <div class="form-group">
            {{ form.age.errors }}
            {{ form.age.label_tag }}
            {{ form.age }}            
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
</div>
{% endblock %}
